body{
    background-color:lightskyblue;
}

h1{
color:rgb(255, 0, 0);
background-color:lightsalmon;
}

#show_sketch{
    float:right;
}

canvas{
  border:5px solid white;
  border-radius:20px;
  animation-name:example;
  animation-duration:3s;
  margin-top:100px;
  animation-iteration-count:infinite;
}

@keyframes example{
    from{box-shadow:1px 1px 38px lightgreen;}
    to{box-shadow:1px 1px 38px lightseagreen;}
}

p{
    padding-top:10px;
    font-size:25px;
    color:gold;
}